{deps, [
    {lager, "3.9.2"},
    {libp2p_crypto, {git, "https://github.com/helium/libp2p-crypto.git", {tag, "v1.5.1"}}},
    {erl_angry_purple_tiger, ".*",
        {git, "https://github.com/helium/erl_angry_purple_tiger.git", {branch, "master"}}}
]}.

{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [spl_poc]}
]}.
