%% -*- erlang -*-
[
    {lager, [
        {log_root, "log"},
        {handlers, [
            {lager_console_backend, [{level, info}]},
            {lager_file_backend, [{file, "console.log"}, {size, 52428800}, {level, info}]},
            {lager_file_backend, [{file, "debug.log"}, {size, 52428800}, {level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {size, 52428800}, {level, error}]}
        ]}
    ]}
].
